<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290629738170-8i78clbpj6hhv590q7rdste2jitrdqpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290629738170-8i78clbpj6hhv590q7rdste2jitrdqpd</string>
	<key>API_KEY</key>
	<string>AIzaSyBp2UhSTsPFsWwHtno9nEk6-3Tcm3FnYDE</string>
	<key>GCM_SENDER_ID</key>
	<string>290629738170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vinicius.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>cloneinstagram-8474a</string>
	<key>STORAGE_BUCKET</key>
	<string>cloneinstagram-8474a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290629738170:ios:7802e96ed2614d41192c83</string>
</dict>
</plist>